* {
	margin: auto;
	box-sizing: border-box;
}

body {
	width: 100vw;
	background-color: #d9edbf;
	font-family: "Camaufalge", "Lucida Sans", "Lucida Sans Regular",
		"Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
